{% extends 'base.html' %}
{% load static %}

{% block title %}Создать пост{% endblock %}

{% block content %}
<div class="card shadow-sm">
  <div class="card-body">
    <h2 class="mb-4">Создать новый пост</h2>

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Опубликовать</button>
      <a href="{% url 'post_list' %}" class="btn btn-secondary">Отмена</a>
    </form>
  </div>
</div>
{% endblock %}
